$theme-color: #74a0ed;
$theme-light: lighten( $theme-color, 25%);
$theme-dark: darken( $theme-color, 25%);

@mixin reset {
  margin:0;
  padding:0;
}

@mixin display($type){
  display: $type;
}

@mixin flex($direction){
  @include display(flex);
  flex-direction: $direction;
}

body{
  @include reset;
}

header{
  background-color: $theme-light;
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  .logo{
    padding: 5px;
    max-width:60px;
  }
  h1{
    margin:0;
    padding: 5px;
  }
}

#task-form{
  @include flex(row);
  input{
    flex: 1;
    padding:5px;
    box-sizing: border-box;
    border:1px solid $theme-color;
    background-color: $theme-light;
  }
  input:focus{
    background-color: white;
    outline: none;
  }
  button{
    max-width:100px;
    padding:5px;
    background-color: $theme-dark;
    color: white;
  }
}


